body {
    background-color: rgba(219, 255, 237, 1);
    color: rgba(0, 26, 13, 1);
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

a {
    color: rgba(0, 26, 13, 1);
    text-decoration: none;
}

header {
    height: 65px;
}
nav {
    position: fixed;
    width: 160px;
    height: 100%;
    border: solid 2px;
}

nav li{
    border-bottom: solid 2px;
    width: 160px;
    height: 40px;
}

#into-link {
    border-top:solid 2px;
}

main {
    padding: 20px;
    margin-left: 160px;
}

header {
    font-size: 30px;
    color: rgba(21, 33, 17, 1);
    font-family: sans-serif;
}

.code-ex {
    color: whitesmoke;
    background-color: rgba(21, 33, 17, 0.9);
    margin: 5px 40px 5px 40px;
    padding: 15px;
    display: inline-block;
}